<div class="post">
  <h2>{{blogpost.title}}</h2>
  {{#link-to 'blogpost' blogpost.id}}
    <img src={{blogpost.image}}/>
  {{/link-to}}
  <p>{{blogpost.introduction}}</p>
  <p>{{blogpost.date}}</p>
</div>
