<div class="post">
  <h2>{{blogpost.title}}</h2>
  <!-- <div class="image"> -->
    <img src={{blogpost.image}}/>
  <!-- </div> -->
  <p>{{blogpost.introduction}}</p>
  <p>{{blogpost.date}}</p>
</div>
