<div class="navbar">
  <nav>
    <p>{{#link-to 'index'}}Home{{/link-to}}</p>
    <p>{{#link-to 'about'}}About{{/link-to}}</p>
    <p>{{#link-to 'contact'}}Contact{{/link-to}}</p>
  </nav>
</div>



<div class="wrap">
  <div class="logo">

  </div>
  {{outlet}}
</div>
